html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Base CSS*/
body {
  font-family: "Lato";
  background: #374e5a;
}

.col{
  background:#5a7b6c;
  border-radius:3px;
  padding:20px;
  margin:20px auto;
}

.col:nth-child(odd){
  background:#8fb87f;
}

.col p{
  color:white;
  text-shadow:1px 1px #000;
}
.container{
  max-width:420px;
  margin: 0 auto;
}

/*Tablet*/

@media screen and (min-width:768px) {
  
  .col{
    float:left;
    width:48%;
    margin:1%;
  }
  
  .container {
    max-width:900px;
  }
}

/* Desktop */

@media screen and (min-width:992px){
  .col{
    width:23%;
  }
  
  .container{
    max-width:1000px;
  }
  
  
  
  
}

  
/*retina specific --- https://goo.gl/Pgu6y */

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
	.fancy{display:block; text-align:center}
}


