html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}



.container {
  width:960px;
  background: #052D3D;
  margin: 10px auto;
}

header.primary {
  /* Orignal width: 940px */
  width: 97.916%;
  background: #4D92A8;
  margin: 1.0416%;
  padding: 2.021%;
  float: left;
}

#content {
  /* Orignal width: 620px */
  width: 64.583%;
  background: #E68A8E;
  margin-left: 1.0416%;
  padding: 2.021%;
  float: left;
}

aside {
  /* Orignal width: 300px */
  width: 31.52%;
  background: #F1CE5D;
  margin-left: 1.0416%;
  padding: 1.063%;
  float: left;
}

footer.primary {
  
 width:960px;
  background: #052D3D;
  margin: 10px auto;
  padding: 20px;
  float: left;
}



/*@media screen and (min-width:900px){
  .container{
  width:800px;
  }
}


@media screen and (min-width:1100px){
  .container{
  width:1000px;
  }
} */
