html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}



.container {
  width:960px;
  background:#F2D5D0;
  margin: 10px auto;
}

header.primary {
  width: 940px;
  background: #4D92A8;
  margin: 10px;
  padding: 10px;
  float: left;
}

#content {
  /* 544px */
  width: 56.666%;
  background: rgba(0, 0, 0, 0.6);
  margin-left: 2.083%;
  padding: 2.173%;
  float: left;
}

/*aside {
  
  width: 37.083%;
  background: rgba(0, 0, 0, 0.3);
  margin-left: 2.083%;
  padding: 2.173%;
  float: left;
}

footer.primary {
  
  width: 95.833%;
  background: #AD726D;
  font: white;
 
  margin: 2.083%;
  padding: 2.173%;
  float: left;
}

.col-4 {
  width: 356px;
  background: green;
  margin-left: 20px;
  padding: 20px;
  float: left;
}

.col-6 {
  width: 544px;
  background: purple;
  margin-left: 20px;
  padding: 20px;
  float: left;
}

.col-12 {
  width: 920px;
  background: rgba(0, 0, 0, 0.4);
  margin: 20px;
  padding: 20px;
  float: left;
}


@media screen and (min-width:900px){
  .container{
  width:800px;
  }
}


@media screen and (min-width:1100px){
  .container{
  width:1000px;
  }
} */
