html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}



.container {
  width:960px;
  background: #052D3D;
  margin: 10px auto;
}

header.primary {
  width: 940px;
  background: #4D92A8;
  margin: 10px;
  padding: 20px;
  float: left;
}

#content {
  width: 620px;
  background: #E68A8E;
  margin-left: 10px;
  padding: 20px;
  float: left;
}

aside {
  width: 320px;
  background: #F1CE5D;
  margin-left: 20px;
  
  padding: 20px;
  float: left;
}

footer.primary {
  
 width:960px;
  background: #052D3D;
  margin: 10px auto;
  padding: 20px;
  float: left;
}



/*@media screen and (min-width:900px){
  .container{
  width:800px;
  }
}


@media screen and (min-width:1100px){
  .container{
  width:1000px;
  }
} */
