h1 {
      text-align: center;
    }
    h2 {
      text-align: center;
      color: white;
    }
    .recent-work {
      background-color: #7A7A7A;
      padding: 10px;
    }
    
          
        .navbar-custom {
            background-color: #623D81;
        }
        
    .masthead {
  height: 600px;
  min-height: 500px;
  background-image: url('/ifsc-3342/Final/img/placeholder_header2-01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-secondary {
    padding-bottom: 40px;
    padding-top:20px;
    padding-left: 10px;
}
      
 .footer {
   background:#3F3F3F;
   margin: 20px;
   color: white;
   padding:30px;
   text-align: center;
 }
 
 